.arrow-down{
    margin-top: 2px;
}

ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
li{
    list-style: none;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar{
    
}

.marginleft{
    margin-left: 300px;
}