.user-data{
    margin-top: 50px;
}


.user-avatar{
    img{
        height: 400px;
        width: 500px;
    }
}
.user-info{
    margin-left: 50px;
    .id{
        font-size: 1.6rem;
    }
    .email{
        font-size: 1.6rem;
    }
}