.banner-second{
    margin-left: -100px;
    margin-top: 53px;
}
.navigate-bar{
    margin-bottom: -0.5px;
    padding-bottom: 10px;
    a{
        text-decoration: none;
        color: black;
    }
}